@import url(./reset.css);

:root {
  --app-dark-bg: #1a1d28;
  --app-green: #33ab4e;
  --app-purple: #833cff;
  --app-orange: #e4854e;
  --app-blue: #3c57ff;
  --app-blue-hover: #364ee6;
  --app-red: #ff3c57;
  --app-red-hover: #ff2846;
}

.container {
  width: min(100% - 30px,1080px);
  margin-inline: auto;
}

body {
  background-color: var(--app-dark-bg);
}

header .container {
  display: flex;
  justify-content: space-between;
}

.title h1 {
  font-size: 20px;
  text-transform: uppercase;
  color: var(--app-orange);
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 50px;
}

nav ul {
  list-style: none;
  font-size: 0;
}

nav ul li {
  display: inline;
  line-height: 56px;
}

nav ul li a {
  font-size: 17px;
  font-weight: 600;
  color: var(--app-orange);
  text-decoration: none;
  letter-spacing: 0.2px; 
  transition: color 0.25s ease-in-out;
}

nav ul li a:hover {
  color: #007fff;
}

header div nav ul li + li {
  margin-left: 20px;
}

.icon.one {
  display: none;
  color: var(--app-orange);
  line-height: 56px;
  font-size: 20px
}

.icon:hover {
  color: #007fff;
}

@media (max-width:1080px) {
  main p {
    font-size: 18px;
  }
  
  h2 {
    margin-left: 500px;
  }
  .button {
    display: none;
  }

  .imgtwo {
    display: none;
  }
}

@media (max-width:768px) {
  main p {
    font-size: 12px;
  }
  .text {
    font-size: 14px;
    line-height: 1.5;
  }

  .headerlist {
    display: none;
  }

  .icon.one {
    display: inline;
  }

  .fa-brands {
    font-size: 12px;
  }
}

@media (max-width:480px) {
  main p {
    font-size: 8px;
  }

  .headerlist {
    display: none;
  }

  .icon.one {display: block;}

}

main {
  padding: 100px 0;
  overflow: hidden;
  margin-inline: auto;
  display: grid;
  place-items: center;
}

.banner {
  color: var(--app-orange);
  margin-top: 200px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  color: #e7a984;
}

p {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

p:nth-child(1) {
  animation-delay: 1s;
  top: 20%;
  left: 20%; 
}

p:nth-child(2) {
  animation-delay: 2s; 
  top: 30%;
  left: 50%;
}

p:nth-child(3) {
  animation-delay: 3s;
  top: 30%;
  left: 80%; 
}


p:nth-child(4) {
  animation-delay: 4s;
  top: 50%;
  left: 50%;
}

p:nth-child(5) {
  animation-delay: 5s;
  top: 40%;
  left: 25%;
}

p:nth-child(6) {
  animation-delay: 6s;
  top: 40%;
  left: 60%;
}

p:nth-child(7) {
  animation-delay: 7s;
  top: 15%;
  left: 55%;
}

p:nth-child(8) {
  animation-delay: 8s;
  top: 25%;
  left: 35%;
}

p:nth-child(9) {
  animation-delay: 9s;
  top: 30%;
  left: 60%;
}

p:nth-child(10) {
  animation-delay: 10s;
  top: 30%;
  left: 70%;
}

p:nth-child(11) {
  animation-delay: 11s;
  top: 20%;
  left: 60%;
}

p:nth-child(12) {
  animation-delay: 12s;
  top: 35%;
  left: 40%;
}

p:nth-child(13) {
  animation-delay: 13s;
  top: 40%;
  left: 80%;
}

@keyframes fadeIn {
  from {
    opacity: 0; 
  }
  to {
    opacity: 1; 
  }
}

.Profile {
  width: min(100% - 30px,1080px);
  margin-inline: auto;
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  color: #e4854e;
}


h2 {
   margin-top: -100px;
   margin-left: -900px;
}
.text {
  margin-top: 550px;
  margin-right: 900px;
  font-size: 22px;
}

.Profile img {
  width: 30%;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.imgone {
  margin-left: 520px;
  max-width: 100%;
}

.imgtwo {
  margin-left: 750px;
  margin-top: -250px;
}

.button {
  margin-left: -100px;
  margin-top: 500px;
  margin-bottom: 100px;
  width: 10%;
  position: absolute;
  display: center;
  height: 35px;
  content: "";
  z-index: 9999; 
  background-color: var(--app-orange);
  border-radius: 15px;
}

.button a:hover {
  color: #007fff;
}

.button a {
  margin-left: 26px;
  color: var(--app-dark-bg);
  margin-top: 40px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 900;
}

footer {
  margin-top: 500px;
}
.icon.three {
  display: grid;
  color: #e0a989;
  line-height: 60px;
}

footer div nav ul li {
  margin-left: 15px
}

.fa-brands {
  font-size: 24px;
}

footer div p {
  color: #ebeef0;
  text-decoration: none;
}



@media (max-width:768px) {
  .text {
    width: min(100% - 30px,1080px);
    
    font-size: 14px;
    line-height: 1.5;
    height: auto;
    margin-top: 320px;
  }

  h2 {
    width: min(100% - 30px,1080px);
    margin-left: -40px;
    margin-top: -260px;
    font-size: 14px;
  }

  .imgone {
    margin-top: 30px;
    margin-left: 260px;
    max-width: 100%;
  }
  
  .imgtwo {
    display: none;
    margin-top: -80px;
  };
  

  .button {
    display: none;
  }
  
  .fa-brands {
    font-size: 12px;
  }
  
  footer {
    margin-top: 140px;
  }

  nav ul li a {
    font-size: 10px;
    font-weight: 100;
    color: var(--app-orange);
    text-decoration: none;
    letter-spacing: 0.1px; 
    transition: color 0.25s ease-in-out;
  }
}
  
.headerlist.show {
  display: block;
  font-size: 10px;
}

@media (max-width:480px) {
  .text {
    max-width: 100%;
    font-size: 8px;
    line-height: 1.5;
    height: auto;
  }

  h2 {
    width: min(100% - 30px,1080px);
    margin-left: -40px;
    margin-top: -200px;
    font-size: 10px;
  }

  .fa-brands {
    font-size: 10px;
  }

  .button {
    display: none;
  }
}

